@model IEnumerable<TrashCollector2.Models.CustomerInfo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


@using (Html.BeginForm())
{
    <p>
        Find by name: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}




<table class="table">

    <tr>
        <th class=“header”>
            @Html.ActionLink("Customer Name", "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th class=“header”>
            @Html.ActionLink("Contact Name", "Index", new { sortOrder = ViewBag.DateSortParm })
        </th>
    </tr>







    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Invoice.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Schedule.NormalDayPickUp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ZipCode)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Invoice.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Schedule.NormalDayPickUp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZipCode)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
